.market-graph-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, #393427 0%, #191A21 100%);
    background-size: cover;
    overflow: hidden;
    z-index: 0;
  }
  
  /* Overlay pattern identique à la vault section */
  .market-graph-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('https://github.com/antho8101/Oridium/blob/main/oridium-website/assets/pattern.png?raw=true');
    background-repeat: repeat;
    background-size: 100px 100px;
    opacity: 0.25;
    z-index: 1;
    pointer-events: none;
  }
  
  /* Contenu au-dessus du pattern */
  .market-graph-section > * {
    position: relative;
    z-index: 2;
  }

  .market-graph-header {
    display: flex;
    max-width: 920px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
  }
  
  .market-graph-title {
    align-self: stretch;
    color: var(--Pure-White, #FFF);
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .market-graph-subtitle {
    align-self: stretch;
    color: var(--Pure-White, #FFF);
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  #oridium-chart-section {
    flex: 1;                /* prend tout l'espace restant */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 0;          /* empêche les débordements */
    margin-top: 10px;
    width: 100%;       /* optionnel, pour respirer un peu */
  }
  
  #chart {
    flex: 1;
    width: 100%;
    min-height: 0;
  }


  .chart-wrapper {
    display: flex;
    width: 100%;
    max-width: 920px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  