.market-purchase-panel {
    display: flex;
    width: 920px;
    padding: 30px 60px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  
    border-radius: 30px 30px 0px 0px;
    border-top: 1px solid var(--Oridium, #DCCB92);
    border-right: 1px solid var(--Oridium, #DCCB92);
    border-left: 1px solid var(--Oridium, #DCCB92);
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
  }
  
  .market-user-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .market-user-welcome {
    color: var(--Pure-White, #FFF);
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .market-user-actions {
    display: flex;
    gap: 12px;
  }
  
  .market-user-change {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: underline;
    cursor: pointer;
  }  
  
  .market-buy-placeholder {
    color: rgba(255,255,255,0.3);
    font-family: "Space Grotesk";
    font-size: 18px;
  }  