.oridium-chart-toolbar {
    display: flex;
    padding: 5px;
    align-items: center;
    border-radius: 99px;
    border: 1px solid var(--Dividers, #575449);
    background: var(--clear-black, #282A36);
    gap: 4px;
    width: fit-content;
  }  
  
  .chart-btn {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background: transparent;
    border: none;
    cursor: pointer;
  
    color: rgba(255, 255, 255, 0.50);
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background 0.2s ease;
  }
  
  .chart-btn:hover {
    background: var(--Dividers, #575449);
  }
  
  .chart-btn.active {
    background: var(--Oridium, #DCCB92);
    color: #000;
  }
  
  .icon-btn img {
    width: 16px;
    height: 16px;
  }  