<section class="hero">
    <video class="hero-bg-video" autoplay muted loop playsinline>
      <source src="assets/video/hero-bg.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  
    <div class="hero-overlay"></div>
  
    <header class="hero-header">
      <img src="assets/Oridium_Logo.svg" alt="Oridium Logo" class="hero-logo" />
      <nav class="hero-nav">
        <a href="/market.html">Oridium™ Market</a>
        <a href="/features">Features</a>
        <a href="/security">Security & Trust</a>
      </nav>
      <div class="hero-price">
        <span class="price">720,00 USD</span>
        <span class="variation">+4.37 (2.21%)</span>
      </div>
      <a href="https://wallet.getoridium.com" class="button-icon-gold hero-wallet-cta">
        Go to Wallet →
      </a>
    </header>
  
    <div class="hero-content">
        <div class="hero-text-wrapper">
          <h1 class="hero-title logo hero-title-shadow">The Digital Currency of the Elite</h1>
          <p class="hero-subtitle title">
            Join the digital gold rush.<br />
            Oridium is a rare asset, released weekly in limited supply by a public algorithmic bank.<br />
            Built to grow. Designed to reward those who move early.
          </p>
        </div>
      
        <div class="hero-buttons">
            <a href="https://wallet.getoridium.com" class="button-icon-gold" target="_blank" rel="noopener noreferrer">
              Get Oridium®
              <img src="assets/ri_arrow-right-long-line.svg" alt="Arrow Icon" class="button-icon" />
            </a>
          </div>                                                      
  </section>  