html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #chart-container-placeholder {
    height: 100vh; /* ou une autre valeur selon tes besoins */
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: transparent; /* ou une autre couleur de fond */
  }
  
  #oridium-chart-section {
    flex: 1 1 auto; /* prend tout l’espace restant */
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 0;  /* important pour éviter un dépassement */
  }
  
  #chart {
    height: 100%;
  }
  