.div-button-modale {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.div-noidea-modale {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding: 5px;
    padding-right: 30px;
}

.seed-suggestion {
    font-size: 0.9rem;
    margin-top: 6px;
    color: #888;
  }
  
  .seed-link {
    color: #f5b940;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .seed-link:hover {
    color: #ffcc55;
  }
  
.hidden {
    display: none;
}

input[type="password"],
input[readonly] {
    border-radius: 99px;
    background-color: #FFFFFF;
    height: 40px;
    padding: 8px;
    width: 100%;
}

.key-display {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-between;
    width: 100%;
}

.key-display input {
    background-color: #ffffff;
    color: #191A21;
    border: none;
    border-radius: 999px;
    flex: 1;
    font-size: 16px;
    padding: 10px 16px;
}

.key-display input:focus {
    box-shadow: 0 0 0 2px #DCCB92;
    outline: none;
}

.key-display label {
    white-space: nowrap;;
}

.input-error-message {
    color: #e74c3c;
    font-size: 0.85rem;
    margin-top: 4px;
  }
  
  .input-error {
    border: 1px solid #e74c3c !important;
  }  