/* === theme.css === */
/* Thèmes globaux, couleurs, comportements par défaut */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    background-color: #191A21;
    color: #EBE6D9;
    width: 100%;
    height: 100%; /* ⚡ ici : pas de min-height: 100vh, juste height: 100% */
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    font-family: 'Space Grotesk', sans-serif;
}
  
  /* Utilitaires */
  .hidden {
    display: none !important;
  }
  
  .input-error {
    border: 2px solid #e74c3c !important;
    outline: none;
  }
  
  .error-message {
    color: #ffa99f;
    font-size: 14px;
    margin-top: 6px;
    padding-right: 30px;
  }

  #app {
    display: none;
    flex-direction: column;
    height: 100%; /* <- AJOUTER CA */
  } 

  .oridium-chart-section-wallet {
    width: 100%;
    height: 100%;
  }

  .branding-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }  