* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background-color: #191A21;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

.main-container {
    display: flex;
    gap: 20px;
    height: 100dvh;   /* ✅ Au lieu de min-height ou height */
    box-sizing: border-box;
    background-color: #191A21;
    padding: 20px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
}

.menu-top {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.menu-bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

/* Bouton */
.button-menu {
    width: 100%;
    padding: 10px;
    background-color: #282A36;
    color: #EBE6D9;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
}

.button-menu:hover {
    width: 100%;
    padding: 10px;
    background-color: #282A36;
    color: #EBE6D9;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 255, 255, 100);
    transition: background-color 0.3s;
}

.button-menu:active {
    width: 100%;
    padding: 10px;
    background-color: #191A21;
    color: #908f8b;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: background-color 0.1s;
}

/* Contenu principal */
.content {
    flex: 1;
    background-color: #282A36;
    border: 1px solid #DCCB92;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

/* Logo */
.logo {
    color: #DCCB92;
    padding: 0;
    margin: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

/* Sous-titre */
.wallet-version {
    color: #DCCB92;
    padding: 0;
    margin: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.wallet-balance {
    display: flex;
    align-items: center;
    background-color: #282A36;
    padding: 5px 15px;
    border-radius: 99px;
    color: #DCCB92;
}

.wallet-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.balance-amount {
    color: #DCCB92;
}

.menu-top {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Applique l'espacement entre wallet-balance et logo-section */
}

.logo-section {
    display: flex;
    flex-direction: column;
    gap: 0; /* Pas de gap entre le logo et le sous-titre */
}

.menu-separator {
    width: 100%;
    height: 2px;
    background-color: #575449; /* Couleur dorée Oridium */
    margin: 20px 0; /* Espace avant et après la ligne */
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
}