* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #191A21;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    width: 100%;
}

.balance-amount {
    color: #DCCB92;
}

.button-menu {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu-main {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    max-width: 220px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu-main:hover {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu-main:active {
    background-color: #191A21;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #908f8b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
    width: 100%;
}

.button-gold {
    background-color: #DCCB92;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #282A36;
    cursor: pointer;
    width: 220px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    width: 220px;
  }
  
  .button-gold:hover {
    background-color: #DCCB92;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    color: #282A36;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.button-gold:active {
    background-color: #928762;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #282A36;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
}

.button-menu:hover {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu:active {
    background-color: #191A21;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #908f8b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
    width: 100%;
}

.copy-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

.content {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 30px;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex: none;
    gap: 20px;
    width: 350px;
}

.content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.key-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.keycode {
    color: #EBE6D9;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: text;
}

.logo {
    color: #DCCB92;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.logo-section {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.main-container {
    background-color: #191A21;
    display: flex;
    gap: 20px;
    height: 100dvh;
    padding: 20px;
}

.menu {
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.menu-separator {
    background-color: #575449;
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    height: 2px;
    width: 100%;
}

.menu-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: auto;
}

.public-key-container {
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}
  
.public-key-info {
    flex: 1;
    display: flex;
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    height: 100%;
    padding: 0 20px;
    align-items: center;
}


.transaction-amount {
    color: #DCCB92;
    font-weight: 500;
}

.transaction-container {
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.transaction-container h2 {
    margin-bottom: 20px;
}

.transaction-desc {
    color: #EBE6D9;
}

.transaction-list {
    border-radius: 8px;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}

.transaction-list::-webkit-scrollbar {
    width: 8px;
}

.transaction-list::-webkit-scrollbar-thumb {
    background-color: #DCCB92;
    border-radius: 6px;
}

.transaction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    height: 40px;
    padding: 0 15px;
}

.transaction-row:nth-child(odd) {
    background-color: #282A36;
}

.transaction-row:nth-child(even) {
    background-color: #191A21;
}

.vertical-separator {
    background-color: #575449;
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    margin: 0 30px;
    width: 2px;
}

.wallet-balance {
    align-items: center;
    background-color: #282A36;
    border-radius: 99px;
    color: #DCCB92;
    display: flex;
    padding: 5px 15px;
}

.wallet-icon {
    height: 16px;
    margin-right: 8px;
    width: 16px;
}

.wallet-version {
    color: #DCCB92;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}