/* ===== Sidebar Container ===== */

.balance-amount {
    color: #DCCB92;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 220px;
    border-radius: 10px;
    color: #FFFFFF;
  }
  
  .menu-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: auto;
  }
  
  .menu-bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  
  .menu-separator {
    width: 100%;
    height: 2px;
    background-color: #575449;
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
  }
  
  /* ===== Branding ===== */
  
  .logo-section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .logo {
    color: #DCCB92;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  
  .wallet-version {
    color: #DCCB92;
    margin: 0;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
  
  /* ===== Wallet Balance Summary ===== */
  
  .wallet-balance {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #282A36;
    border-radius: 99px;
    color: #DCCB92;
  }
  
  .wallet-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }  