.transaction-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 280px;
}

.transaction-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.transaction-title {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 14px;
  font-weight: 500;
  align-self: stretch;
  padding-bottom: 10px;
  padding-left: 10px;
}

.transaction-search {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  gap: 5px;
  width: 100%;
  border-radius: 99px;
  border: 1px solid #575449;
  background: #282A36;
}

.transaction-search::placeholder {
  border: 1px solid var(--Oridium, #DCCB92);
  background: var(--Oridium, #DCCB92);
}

.transaction-search input {
  background: transparent;
  border: none;
  outline: none;
  color: #FFF;
  flex: 1;
  font-family: 'Space Grotesk';
  font-size: 14px;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.transaction-date {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #DCCB92;
  font-family: 'Space Grotesk';
  font-size: 14px;
  font-weight: 500;
}

.transaction-day {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 280px; 
  padding: 5px 10px;
  font-family: 'Space Grotesk';
  font-size: 14px;
  color: #FFF;
  font-weight: 300;
}

.transaction-row.alt {
  background: rgba(25, 26, 33, 0.5);
  border-radius: 10px;
}

.transaction-bottom {
  margin-top: 10px;
  color: rgba(220, 203, 146, 0.5);
  font-family: 'Space Grotesk';
  font-size: 14px;
  font-weight: 500;
}

.transaction-spacer {
  height: 1px;
  width: 100%;
  background: var(--Dividers, #575449);
}