.button-gold {
    background-color: #DCCB92;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #282A36;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    width: 220px;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-gold:hover {
    background-color: #DCCB92;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0px 0px 8px 0px #DCCB92;
    color: #282A36;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-gold:active {
    background-color: #928762;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #282A36;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-menu {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu:hover {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0px 0px 8px 0px #DCCB92;
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu:active {
    background-color: #191A21;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #908f8b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
    width: 100%;
}

.button-menu-fit {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    cursor: pointer;
    max-width: 220px;
    padding: 10px 30px;
    transition: background-color 0.3s;
    width: fit-content;
}

.button-menu-fit:hover {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0px 0px 8px 0px #DCCB92;
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px 30px;
    transition: background-color 0.3s;
    width: fit-content;
}

.button-menu-fit:active {
    background-color: #191A21;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #908f8b;
    cursor: pointer;
    padding: 10px 30px;
    transition: background-color 0.1s;
    width: fit-content;
}

.button-menu-main {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #EBE6D9;
    cursor: pointer;
    max-width: 220px;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu-main:hover {
    background-color: #282A36;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0px 0px 8px 0px #DCCB92;
    color: #EBE6D9;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%;
}

.button-menu-main:active {
    background-color: #191A21;
    border: 1px solid #DCCB92;
    border-radius: 99px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: #908f8b;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.1s;
    width: 100%;
}

.button-icon-gold {
    cursor: pointer;
    text-decoration: none;
    font-family: "Space Grotesk";
    color: #282A36;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--Oridium, #DCCB92);
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.button-icon-gold:hover {
    font-family: "Space Grotesk";
    color: #282A36;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--Oridium, #DCCB92);
    box-shadow: 0px 0px 8px 0px #DCCB92;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.button-icon-gold:active {
    font-family: "Space Grotesk";
    color: #282A36;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--Oridium, #91886E);
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-icon-black {
    cursor: pointer;
    text-decoration: none;
    font-family: "Space Grotesk";
    color: var(--Pure-White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--clear-black, #282A36);
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.button-icon-black:hover {
    font-family: "Space Grotesk";
    color: var(--Pure-White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--clear-black, #282A36);
    box-shadow: 0px 0px 8px 0px #DCCB92;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.button-icon-black:active {
    font-family: "Space Grotesk";
    color: var(--Dividers, #575449);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 99px;
    border: 1px solid var(--Oridium, #DCCB92);
    background: var(--Deep-Black, #191A21);
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}