.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -2;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  z-index: 1;
}

.hero-logo {
  height: 40px;
}

.hero-nav {
  display: flex;
  gap: 40px;
}

.hero-nav a {
  text-decoration: none;
}

.hero-price {
  text-align: right;
}

.hero-wallet-cta {
  margin-left: 40px;
  text-decoration: none;
}

.hero-content {
  z-index: 1;
  margin: auto;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 120px;
}
.hero-title {
  align-self: stretch;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  width: fit-content;
}

.hero-title-shadow {
  color: #DCCB92;
  width: 740px;
  height: 61px;
  text-align: center;
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.30);
}

.hero-subtitle {
  font-family: "Space Grotesk";
  color: var(--Pure-White, #FFF);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 100%;
  margin: 0;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  width: 100%;
}

@media (max-width: 1024px) {
  
  .hero-content {
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    box-sizing: border-box;
  }

  .hero-title {
    width: 100%;
    height: auto;

  }

  .hero-text-wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }

  .hero-content {
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
    padding: 0 30px 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .hero-text-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 32px;
    width: 100%;
    height: auto;
  }

  .hero-buttons a {
    width: 100%;
    box-sizing: border-box;
  }
}
